name: Coverage

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 22
      command-test:
        type: string
        default: npm run test:unit

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          cache: "npm"
          cache-dependency-path: ./package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: ${{ inputs.command-test }}

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
