name: Publish Edge Add-ons

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number
        default: 24
      source-dir:
        required: true
        type: string
      command-build:
        required: true
        type: string
    secrets:
      EDGE_PRODUCT_ID:
        required: true
      EDGE_CLIENT_ID:
        required: true
      EDGE_API_KEY:
        required: true
      SENTRY_DSN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test

  publish:
    needs: build
    environment: edge
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: ${{ inputs.command-build }}
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}

      - name: Create package zip
        run: zip --recurse-paths package.zip ${{ inputs.source-dir }}

      - name: Upload package
        run: |
          curl --header "Authorization: ApiKey ${{ secrets.EDGE_API_KEY }}" \
            --header "X-ClientID: ${{ secrets.EDGE_CLIENT_ID }}" \
            --header "Content-Type: application/zip" \
            --request POST \
            --upload-file "package.zip" \
            --verbose "https://api.addons.microsoftedge.microsoft.com/v1/products/${{ secrets.EDGE_PRODUCT_ID }}/submissions/draft/package"

      - name: Publish package
        run: |
          curl --header "Authorization: ApiKey ${{ secrets.EDGE_API_KEY }}" \
            --header "X-ClientID: ${{ secrets.EDGE_CLIENT_ID }}" \
            --header "Content-Length: 0" \
            --request POST \
            --verbose \
            https://api.addons.microsoftedge.microsoft.com/v1/products/${EDGE_PRODUCT_ID}/submissions
