name: Publish Firefox Add-ons

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number
        default: 24
      source-dir:
        required: true
        type: string
      command-build:
        required: true
        type: string
    secrets:
      FIREFOX_API_KEY:
        required: true
      FIREFOX_API_SECRET:
        required: true
      SENTRY_DSN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test

  publish:
    needs: build
    environment: firefox
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: ${{ inputs.command-build }}
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}

      - name: Deploy to Firefox Add-ons
        run: npx web-ext sign --channel=listed --source-dir ${{ inputs.source-dir }}
        env:
          WEB_EXT_API_KEY: ${{ secrets.FIREFOX_API_KEY }}
          WEB_EXT_API_SECRET: ${{ secrets.FIREFOX_API_SECRET }}
