name: Deploy to GitHub Pages

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 24
      command-build:
        type: string
        default: npm run build
      build-dir:
        required: true
        type: string

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: ./.github/actions/checkout
      - uses: ./.github/actions/setup-node
        env:
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: ${{ inputs.command-build }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: ${{ inputs.build-dir }}

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
