name: Lint

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 24
      working-directory:
        type: string
        default: ./

      # markdown
      markdown-status:
        type: boolean
        default: true
      markdown-links:
        type: boolean
        default: true
      markdown-config:
        type: string
        default: .markdownlint-cli2.cjs
      markdown-input:
        type: string
        default: '**/*.md'

      # biome
      biome-status:
        type: boolean
        default: true

      # typescript
      typescript-status:
        type: boolean
        default: true

      # publint
      publint-status:
        type: boolean
        default: true
      publint-input:
        type: string
        default: './'

jobs:
  markdown:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.markdown-status }}"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            markdownlint-cli2@0.17.2 \
            markdown-link-check@3.13.7 \
            glob@10.3.3 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx markdownlint-cli2 --config "${{ inputs.markdown-config }}" ${{ inputs.markdown-input }}
        working-directory: ${{ inputs.working-directory }}

      # Disable, trigger 429 too many requests. To optimize
      #- name: Check links
      #  if: "${{ inputs.markdown-links }}"
      #  run: |
      #    find . -name '*.md' -not -path '**/node_modules/*' -exec npx markdown-link-check {} +

  biome:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.biome-status }}"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            @biomejs/biome@2.3.4 \
            --global
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx biome check .
        working-directory: ${{ inputs.working-directory }}

  typescript:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.typescript-status }}"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            typescript@5.6.3 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx --package typescript tsc --noEmit
        working-directory: ${{ inputs.working-directory }}

  publint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.publint-status }}"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm ci
          npm install \
            publint@0.1.16 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Build
        run: npm run build

      - name: Lint
        run: npx publint ${{ inputs.publint-input }}
        working-directory: ${{ inputs.working-directory }}
