name: Lint

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 22
      working-directory:
        type: string
        default: ./

      # markdown
      markdown-status:
        type: boolean
        default: true
      markdown-links:
        type: boolean
        default: true
      markdown-config:
        type: string
        default: .markdownlint-cli2.cjs
      markdown-input:
        type: string
        default: '**/*.md'

      # stylelint
      stylelint-status:
        type: boolean
        default: true
      stylelint-config:
        type: string
        default: config/stylelint.config.js
      stylelint-input:
        type: string
        default: 'src/**/*.css'

      # eslint
      eslint-status:
        type: boolean
        default: true
      eslint-config:
        type: string
        default: config/.eslintrc.js
      eslint-input:
        type: string
        default: '.'

      # biome
      biome-status:
        type: boolean
        default: false

      # typescript
      typescript-status:
        type: boolean
        default: true

      # publint
      publint-status:
        type: boolean
        default: true
      publint-input:
        type: string
        default: './'

jobs:
  markdown:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.markdown-status }}"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: .github/workflows/lint.yml
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            markdownlint-cli2@0.17.2 \
            markdown-link-check@3.13.7 \
            glob@10.3.3 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx markdownlint-cli2 --config "${{ inputs.markdown-config }}" ${{ inputs.markdown-input }}
        working-directory: ${{ inputs.working-directory }}

      # Disable, trigger 429 too many requests. To optimize
      #- name: Check links
      #  if: "${{ inputs.markdown-links }}"
      #  run: |
      #    find . -name '*.md' -not -path '**/node_modules/*' -exec npx markdown-link-check {} +

  stylelint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.stylelint-status }}"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: .github/workflows/lint.yml
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            prettier@2.8.7 \
            stylelint@15.9.0 \
            stylelint-config-standard@33.0.0 \
            stylelint-prettier@3.0.0 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx stylelint ${{ inputs.stylelint-input }} --config ${{ inputs.stylelint-config }}
        working-directory: ${{ inputs.working-directory }}

  eslint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.eslint-status }}"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: .github/workflows/lint.yml
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            @babel/eslint-parser@7.22.6 \
            @typescript-eslint/eslint-plugin@5.60.1 \
            @typescript-eslint/parser@5.60.1 \
            eslint@8.39.0 \
            eslint-config-prettier@8.8.0 \
            eslint-config-standard@17.0.0 \
            eslint-plugin-import@2.27.5 \
            eslint-plugin-n@15.7.0 \
            eslint-plugin-node@11.1.0 \
            eslint-plugin-prettier@4.2.1 \
            eslint-plugin-promise@6.1.1 \
            eslint-plugin-react@7.32.2 \
            eslint-plugin-typescript-sort-keys@2.3.0 \
            prettier@2.8.7 \
            typescript@5.0.4 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx eslint ${{ inputs.eslint-input }} --config ${{ inputs.eslint-config }}
        working-directory: ${{ inputs.working-directory }}

  biome:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.biome-status }}"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: .github/workflows/lint.yml
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            @biomejs/biome@2.3.4 \
            --global
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx biome check .
        working-directory: ${{ inputs.working-directory }}

  typescript:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.typescript-status }}"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: .github/workflows/lint.yml
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm install \
            typescript@5.6.3 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Lint
        run: npx --package typescript tsc --noEmit
        working-directory: ${{ inputs.working-directory }}

  publint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "${{ inputs.publint-status }}"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: .github/workflows/lint.yml
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: |
          npm ci
          npm install \
            publint@0.1.16 \
            --save-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Build
        run: npm run build

      - name: Lint
        run: npx publint ${{ inputs.publint-input }}
        working-directory: ${{ inputs.working-directory }}
