name: Deploy function to Netlify

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 22
      command-build:
        type: string
        default: npm run build
      build-dir:
        required: true
        type: string
        default: public
      function-dir:
        required: true
        type: string
        default: ./netlify/edge-functions
    secrets:
      NETLIFY_APP_ID:
        required: true
      NETLIFY_AUTH_TOKEN:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          cache: "npm"
          cache-dependency-path: ./package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: ${{ inputs.command-build }}

      - name: Deploy to Netlify
        run: |
          npx netlify deploy --prod --site ${{ secrets.NETLIFY_APP_ID }} --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --functions=${{ inputs.function-dir }} --dir=${{ inputs.build-dir }} --message "Deploy function to Netlify"
