name: Publish Node.js Package

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number
        default: 24
      command-test:
        type: string
        default: npm run test

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: ./.github/actions/checkout
      - uses: ./.github/actions/setup-node
        env:
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: ${{ inputs.command-test }}

  publish:
    needs: build
    environment: npm
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: ./.github/actions/checkout
      - uses: ./.github/actions/setup-node
        env:
          node-version: ${{ inputs.node-version }}

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: NPM publish
        run: npm publish
