name: Test & Build

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 24
      os:
        type: string
        default: ubuntu-latest
      command-install:
        type: string
        default: npm ci
      command-test:
        type: string
        default: npm run test
      command-build:
        type: string
        default: npm run build
      working-directory:
        type: string
        default: ./
      download-artifact:
        type: boolean
        default: false
      upload-artifact:
        type: boolean
        default: false
      outDir:
        type: string
        default: ./lib
      artifact-name:
        type: string
        default: build-artifact

jobs:
  build:
    runs-on: ${{ inputs.os }}
    timeout-minutes: 10
    steps:
      - name: Configuring Git with line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        if: "${{ inputs.download-artifact }}"
        with:
          name: build-artifact

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: ${{ inputs.command-install }}
        working-directory: ${{ inputs.working-directory }}

      - name: Test
        run: ${{ inputs.command-test }}
        working-directory: ${{ inputs.working-directory }}

      - name: Build
        run: ${{ inputs.command-build }}
        working-directory: ${{ inputs.working-directory }}

      - uses: actions/upload-artifact@v5
        if: "${{ inputs.upload-artifact }}"
        with:
            name: build-artifact
            path: ${{ inputs.outDir }}
