name: Test & Build

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 24
      os:
        type: string
        default: ubuntu-latest
      command-install:
        type: string
        default: npm ci
      command-test:
        type: string
        default: npm run test
      command-build:
        type: string
        default: npm run build
      working-directory:
        type: string
        default: ./
      build-dir:
        type: string
        default: ./public
      upload-build:
        type: boolean
        default: false
    secrets:
      EXTRA_SECRETS:
        required: false

jobs:
  build:
    runs-on: ${{ inputs.os }}
    timeout-minutes: 10
    steps:
      - name: Configuring Git with line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v6

      - name: Inject extra env
        shell: bash
        run: |
            if [ -z "${{ secrets.EXTRA_SECRETS }}" ]; then
                exit 0
            fi

            while IFS= read -r line; do
                [ -z "$line" ] && continue

                key="${line%%=*}"
                value="${line#*=}"

                echo "::add-mask::$value"
                echo "$key=$value" >> "$GITHUB_ENV"
            done <<< "${{ secrets.EXTRA_SECRETS }}"

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: ${{ inputs.command-install }}
        working-directory: ${{ inputs.working-directory }}

      - name: Build
        run: ${{ inputs.command-build }}
        working-directory: ${{ inputs.working-directory }}

      - name: Test
        run: ${{ inputs.command-test }}
        working-directory: ${{ inputs.working-directory }}

      - uses: actions/upload-artifact@v6
        if: ${{ inputs.upload-build }}
        with:
          # Upload entire repository
          path: ${{ inputs.build-dir }}
          retention-days: 90
