name: Test & Build

on:
  workflow_call:
    inputs:
      node-version:
        type: number
        default: 24
      os:
        type: string
        default: ubuntu-latest
      command-install:
        type: string
        default: npm ci
      command-test:
        type: string
        default: npm run test
      command-build:
        type: string
        default: npm run build
      working-directory:
        type: string
        default: ./
      extra-env:
        required: false
        type: string

jobs:
  build:
    runs-on: ${{ inputs.os }}
    timeout-minutes: 10
    steps:
      - name: Configuring Git with line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v6

      - name: Inject extra env
        if: inputs.extra-env != ''
        run: |
          echo "${{ inputs.extra-env }}" >> $GITHUB_ENV

      - name: Inject extra env (masked)
        if: inputs.extra-env != ''
        shell: bash
        run: |
            # Iterate over each line KEY=VALUE
            while IFS= read -r line; do
            [ -z "$line" ] && continue
            key="${line%%=*}"
            value="${line#*=}"

            # Mask the value in the logs
            echo "::add-mask::$value"

            # Export it to the environment for subsequent steps
            echo "$key=$value" >> "$GITHUB_ENV"
            done <<< "${{ inputs.extra_env }}"

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: ${{ inputs.command-install }}
        working-directory: ${{ inputs.working-directory }}

      - name: Build
        run: ${{ inputs.command-build }}
        working-directory: ${{ inputs.working-directory }}

      - name: Test
        run: ${{ inputs.command-test }}
        working-directory: ${{ inputs.working-directory }}
